.slider_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider_box_icon {
  display: block;
  width: 35px;
  height: 35px;
}
.slider_box_bar {
  position: relative;
  margin: 0 10px;
  padding: 33px 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.slider_box_slider {
  position: absolute;
  height: 33px;
  top: 10px;
  left: 0;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.slider_box_slider_touch {
  position: absolute;
  left: 50%;
  bottom: -8px;
  margin-left: -8px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.slider_box_line {
  position: relative;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
  margin-top: 10px;
}
.slider_box_line_fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  text-align: center;
  background-color: #f0f0f0;
  overflow: hidden;
}
.desc {
  color: #666;
}
.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.1);
}
.icon.dark {
  background: transparent url("light_switch_z@2x.png") no-repeat 0px 0px;
-webkit-background-size: 70px 35px;
background-size: 70px 35px;
}
.icon.light {
  background: transparent url("light_switch_z@2x.png") no-repeat -35px 0px;
-webkit-background-size: 70px 35px;
background-size: 70px 35px;
}
.button_wrp {
  margin-bottom: 20px;
  font-size: 0;
}
.button_wrp .button_mask {
  padding: 5px;
  display: inline-block;
  width: 177px;
  height: 177px;
  background-color: #e8e8e8;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.button_wrp .alerter_button {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #f8f8f8;
  color: #C0C0C0;
  line-height: 187px;
}
.button_wrp .alerter_button span {
  font-size: 50px;
  font-family: MyriadProRegular;
}
.button_wrp .status_pot {
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -2.5px;
  width: 5px;
  height: 5px;
  background-color: #BDBDBD;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.status_button {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 200px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.status_button .on {
  display: none;
}
.status_button.on .on {
  display: block;
}
.status_button.on .off {
  display: none;
}
.status_button.on .button_mask {
  box-shadow: #06DF4B 0 0 35px;
  -moz-box-shadow: #06DF4B 0 0 35px;
  -webkit-box-shadow: #06DF4B 0 0 35px;
}
.status_button.on .alerter_button {
  color: #06DF4B;
  background-color: rgba(255, 255, 255, 0.9);
}
.status_button.on .status_pot {
  background-color: #06DF4B;
}
.body {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 108px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.body .inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
}
@font-face {
  font-family: MyriadProRegular;
  src: url("../res/myriadproregular.ttf") format("truetype");
}
/*  |xGv00|b0ba432ff5fd12c822b88cc18fae6c13 */